{% extends "movies/layouts/base.html" %}

{% block content %}

    <!-- Jumbotron Header -->

    {% if is_paginated and movies.number == 1 %}

    <header class="jumbotron my-4">
      <h1 class="display-3">Bienvenue sur <strong>Après dernière</strong> !</h1>
      <p class="lead">Retrouvez la liste des films repassant au cinéma après leur dernière séance.</p>
      <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
    </header>
    {% endif %}

    <!-- Page Features -->
<div class="container">
    <div class="row text-center">
    {% for movie in movies %}
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{{ movie.poster_url}}" alt="">
          <div class="card-body">
            <h4 class="card-title">{{ movie.title }}</h4>
            <p class="card-text">
                <small class="text-muted">{{ movie.release_date|date:"F d, Y" }}</small>
            </p>
          </div>
          <div class="card-footer">
              <a href="http://www.allocine.fr/seance/film-{{ movie.allocine_code}}/toutes/" class="btn btn-primary" target="_blank">Voir les séances sur Allociné</a>
          </div>
        </div>
      </div>
    {% if forloop.counter|divisibleby:4 %}
    </div>
    <div class="row text-center">
    {% endif %}
    {% endfor %}
    </div>
</div>





    {% if is_paginated %}

      {% if movies.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ movies.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in movies.paginator.page_range %}
        {% if movies.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > movies.number|add:'-3' and num < movies.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if movies.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ movies.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ movies.paginator.num_pages }}">Last</a>
      {% endif %}

{% endif %}

{% endblock content %}