
{% extends "movies/layouts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<section id="logout">
  <div class="container">
    <div class="row">
      <iv class="col-lg-12 text-center">
        <h3 class="section-heading">Vous êtes déconnecté</h3>
        <hr class="my-4">
           <div><a href="{% url 'login' %}" class="btn btn-primary">Se reconnecter</a></div>
          <div><a href="{% url 'movies-home' %}">Revenir à l'accueil</a></div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}