{% if is_paginated %}

  {% if movies.has_previous %}
    <a class="btn btn-outline-secondary mb-4" href="?theater={{ theater.theater_code}}&page=1">|<</a>
    <a class="btn btn-outline-secondary mb-4" href="?theater={{ theater.theater_code}}&page={{ movies.previous_page_number }}"><</a>
  {% endif %}

  {% for num in movies.paginator.page_range %}
    {% if movies.number == num %}
      <a class="btn btn-secondary mb-4" href="?theater={{ theater.theater_code}}&page={{ num }}">{{ num }}</a>
    {% elif num > movies.number|add:'-3' and num < movies.number|add:'3' %}
      <a class="btn btn-outline-secondary mb-4" href="?theater={{ theater.theater_code}}&page={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if movies.has_next %}
    <a class="btn btn-outline-secondary mb-4" href="?theater={{ theater.theater_code}}&page={{ movies.next_page_number }}">></a>
    <a class="btn btn-outline-secondary mb-4" href="?theater={{ theater.theater_code}}&page={{ movies.paginator.num_pages }}">>|</a>
  {% endif %}

{% endif %}